<head>
<title>Add Data</title>

<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

</head>

<body>
<header class="navbar-default">
    <div id="divContainer" class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div id="divContainer" class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse" data-target="#navbarContent">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand navbar-left" href="#">
                        <img alt="Brand" src="https://s-media-cache-ak0.pinimg.com/avatars/aylishabutler-1428656284_30.jpg">

                    </a>
                </div>
                <div id="navbarContent" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Settings</a></li>
                        <li role="presentation"><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
</header>



<p>
<form action="/adddata" method="post">
    <div style="text-align: center">
    <div>
	<label>Steps Today:</label>
	<input type="text" name="steps" autofocus/><br/>
	</div>
	<input type="submit" value="Submit"/>
	</div>
</p>
</form>


<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Profile</a></li>
            <li><a href="/group">My Squads</a></li>
            <li><a href="#">Challenges</a></li>
            <li><a href="/groupranking">Leaderboard</a></li>

        </ul>
    </div>
</nav>
