<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="The Jaguar Squad">
    <title>SquadGoals/Leaderbord</title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!--JQuery-->
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script type="public/javascripts" src="customjquery.js"></script>
</head>

<body>
<!--
	Top Navigation Bar
-->
<header class="navbar-default">
    <div id="divContainer" class="container">
        <nav class="col-xs-12 navbar-inverse navbar-fixed-top" role="navigation">
            <div id="divContainer" class="container">
                <div class="row" id="bottomNav">
                    <div class="col-xs-3 text-center"><a href="#"><i class="glyphicon glyphicon-cog"></i><br>Settings</a></div>
                    <div class="col-xs-6 text-center">	<img src="/images/logobrown.png" class="img-responsive center-block"></div>
                    <div class="col-xs-3 text-center"><a href="/logout"><i class="glyphicon glyphicon-log-out"></i><br>Log Out</a></div>


                </div>
            </div>
        </nav>
    </div>
</header>
<br>
<br>
<div style="text-align: center">
    <h1>Update Data</h1>
</div>

<p>
<form action="/adddata?date={{date}}" method="post">
    <div style="text-align: center">
    <div>
	<label>Steps Today: </label>
	<input type="text" name="steps" autofocus/><br/>
	</div>
        <h1>
        <input type="submit" class="btn btn-danger" value="Submit">
        </h1>
    </div>
</form>
</p>


<div id="footer">
    <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
        <div class="row" id="bottomNav">
            <div class="col-xs-3 text-center"><a href="/profile"><i class="glyphicon glyphicon-user"></i><br>Profile</a></div>
            <div class="col-xs-3 text-center"><a href="/group"><i class="glyphicon glyphicon-tasks"></i><br>Dashboard</a></div>
            <div class="col-xs-3 text-center bg-info"><a href="/group"><i class="glyphicon glyphicon-star"></i><br>MySquads</a></div>
            <div class="col-xs-3 text-center"><a href="/groupranking"><i class="glyphicon glyphicon-list-alt"></i><br>Leaderboard</a></div>
        </div>
    </div>
</div>
</body>
