<head>
<title>The Admin Page</title>

<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

<script src = "/javascripts/jquery-2.2.1.min.js"></script>
<script>
function deleteUser(username){
	var toRemove = username;
	alert('here');
	$.ajax({
		url: '/user/'+toRemove,
		error: function(jqXHR, textStatus, errorThrown){
			alert(textStatus+': '+errorThrown);
		},
		success: function(){
			alert('SUCCESS');
		},
		type: 'DELETE'

	});
	
	document.getElementById(toRemove).remove();
	

	
}

</script>

</head>


<!--Display all users-->
<table>
	<tr>
		<td>Name</td>
		<td>Group</td>
		<td></td>
	</tr>

{{#each userlist}}
	<tr id="{{this.username}}">
		<td>{{this.username}}</td>
		<td>{{this.groupname}}</td>
		<td><button type="button" onclick="deleteUser('{{this.username}}')">Delete</button></td>
	</tr>
{{/each}}

</table>


<br><br>
<!-- Register Users-->
<h1>Add Users</h1>
<form action="/user" method="post">
	<div>
	<label>Username:</label>
	<input type="text" name="username" placeholder="Username" autofocus/><br/>
	</div>

	<div>
	<label>Password:</label>
	<input type="password" name="password" placeholder="Password"/>
	</div>

	<div>
	<label>Group:</label>
	<input type="text" name="groupname" placeholder="Group Name"/><br/>
	</div>

	<div>
	<label>Individual Daily Goal:</label>
	<input type="text" name="indgoal" placeholder="ex. 10000"/><br/>
	</div>

	<div>
	<label>Blind To Other Groups:</label>
	<input type="checkbox" name="groupblind" value="true"/><br/>
	</div>

	<div>
	<label>Blind To Other Members:</label>
	<input type="checkbox" name="memberblind" value="true"/><br/>
	</div>

	<div>
	<input type="submit" value="Submit"/>
	</div>
</form>

