<head>
<title>Groups</title>

<!--<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">-->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

</head>

<body>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!--
	Top Navigation Bar
-->
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<ul class="nav nav-pills navbar-left">
			<img src="/images/logo.jpg"></img>
		</ul>

		<ul class="nav nav-pills navbar-right">
			<li role="presentation" class="active"><a href="/logout">Logout</a></li>
			<li role="presentation" class="active"><a href="/addData">Add Data</a></li>
		</ul>

	</div>

</nav>

<!--
	Group Progress
-->


<div class="panel panel-info">
	<div class="panel-heading">
    Group Progress
    
    </div>

  	<div class="panel-body">
  		<span class="badge">{{groupTotal}}</span>
  		/
    	<span class="badge">{{groupGoal}} Steps</span>
    </div>
</div>

<!--
	List of user steps
-->

<ul class="list-group">
	{{#each members}}
	<li class="list-group-item">
		<span class="badge"> Steps {{this.steps}}</span>
		<span class="glyphicon glyphicon-arrow-up"></span>   {{this.username}}
	</li>
	{{/each}}
</ul>

<!-- 
	Bottom Bar
 -->

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<ul class="nav nav-pills">
			<li role="presentation" class="active"><a href="#">Profile</a></li>
			<li role="presentation" class="active"><a href="/group">My Squad</a></li>
			<li role="presentation" class="active"><a href="#">Dashboard</a></li>
			<li role="presentation" class="active"><a href="/groupranking">Squad Rank</a></li>
			<li role="presentation" class="active"><a href="#">Settings</a></li>
		</ul>

	</div>

</nav>

</body>